.purple {
    background-color: #9B63F8;
    color: white;
    font-size: 1rem;
    padding: 18px 25px;
    border-radius: 5px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 50px;
    margin-right: 20px;
    transition: all 0.1s linear;
}

.purple:hover {
    background-color: #6237a8;
    color: white;
}

.standard {
    border: 1px solid #9B63F8;
    color: #211536;
    font-size: 1rem;
    padding: 18px 25px;
    border-radius: 5px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 50px;
    margin-right: 20px;
    transition: all 0.1s linear;
}

.standard:hover {
    background-color: rgb(233, 233, 233);
    border: 1px solid rgb(233, 233, 233);
}